langgraph
langchain
langchain-openai
pymongo
python-dotenv
pydantic
fastapi
uvicorn[standard]
streamlit
tavily-python
beautifulsoup4
requests
langsmith
pydantic-settings
youtube-transcript-api
openai
pinecone-client
numpy
rank-bm25
scikit-learn
